@{
    ViewData["Title"] = "Testing";
}

<div class="container">
    <div class="theory-blocks">
        <div class="theory-block">
            <h2>Формули скороченого множення:</h2>
            <p>
                (a ± b)² = a² ± 2ab + b²<br>
                a² - b² = (a + b)(a - b)<br>
                (a ± b)³ = a³ ± 3a²b + 3ab² ± b³<br>
                a³ + b³ = (a + b)(a² - ab + b²)<br>
                a³ - b³ = (a - b)(a² + ab + b²)
            </p>
        </div>
        <div class="theory-block">
            <h2>Квадратні рівняння:</h2>
            <p>
                ax² + bx + c = 0<br>
                D = b² - 4ac<br>
                x₁,₂ = -b² ± √D / 2a
            </p>
        </div>
    </div>
    
    <div class="theory-block">
        <h2>Нерівності:</h2>
        <p>
            1. Будь-який член нерівності можна перенести з однієї частини<br>
            нерівності в іншу з протилежним знаком, при цьому знак нерівності<br>
            не змінюється.<br>
            <br>
            2. Обидві частини нерівності можна помножити або поділити на одне<br>
            і те ж додатне число, не змінивши при цьому знак нерівності.<br>
            <br>
            3. Обидві частини нерівності можна помножити або поділити на одне<br>
            й те саме від'ємне число, змінивши при цьому знак нерівності на<br>
            протилежний.
        </p>
    </div>
    
    <div class="theory-block">
        <h2>Похідна функції</h2>
        <div class="derivativefunc">
            <p>
                <span class="tab"></span>lim</pre><br>
                y' = Δx→ * 0f(x+Δx)−f(x) / Δx<br>
                <br>
                
                lim<br>
                Δx→0 * Δy / Δx = f′(x)<br>
            </p>
        </div>
    </div>
    
    <div class="theory-block">
        <h2>Логарифми</h2>
        <p>
            logₓ a = b→xᵇ = a , при x > 0 , a > 0 , x ≠ 1<br>
            <br>
            Властивості логарифів:<br>
            1.logₓ x = 1<br>
            2.logₓ 1 = x<br>
            3.logₓ a = 1 / logₐ x<br>
            <br>
            logₐ (xy) = logₐ x + logₐ y<br>
            logₐ (x/y) = logₐ x - logₐ y<br>
        </p>
    </div>

</div>
