<header>
    <div class="container">
        <nav class="one">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Work</a></li>
                <li><a href="#">About<i class="fa"></i></a>
                  <ul class="submenu">
                    <li><a href="">Item 1</a></li>
                    <li><a href="">Item 2</a></li>
                  </ul>
                </li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>




        
    </div>
</header>
