<div class="theory-block">
    <h2>Логарифми</h2>
    <p>
        logₓ a = b→xᵇ = a , при x > 0 , a > 0 , x ≠ 1<br>
        <br>
        Властивості логарифів:<br>
        1.logₓ x = 1<br>
        2.logₓ 1 = x<br>
        3.logₓ a = 1 / logₐ x<br>
        <br>
        logₐ (xy) = logₐ x + logₐ y<br>
        logₐ (x/y) = logₐ x - logₐ y<br>
    </p>
</div>
