<div class="theory-block">
    <h2>Нерівності:</h2>
    <p>
        1. Будь-який член нерівності можна перенести з однієї частини<br>
        нерівності в іншу з протилежним знаком, при цьому знак нерівності<br>
        не змінюється.<br>
        <br>
        2. Обидві частини нерівності можна помножити або поділити на одне<br>
        і те ж додатне число, не змінивши при цьому знак нерівності.<br>
        <br>
        3. Обидві частини нерівності можна помножити або поділити на одне<br>
        й те саме від'ємне число, змінивши при цьому знак нерівності на<br>
        протилежний.
    </p>
</div>
