<div class="theory-block">
    <h2>Похідна функції</h2>
    <div class="derivativefunc">
        <p>
            <span class="tab"></span>lim</pre><br>
            y' = Δx→ * 0f(x+Δx)−f(x) / Δx<br>
            <br>
            
            lim<br>
            Δx→0 * Δy / Δx = f′(x)<br>
        </p>
    </div>
</div>
